[submodule "learn-projects/connectrpc-es-examples"]
	path = learn-projects/connectrpc-es-examples
	url = git@github.com:connectrpc/examples-es.git
[submodule "learn-projects/connect-query-es"]
	path = learn-projects/connect-query-es
	url = git@github.com:connectrpc/connect-query-es.git
[submodule "learn-projects/axum-connect"]
	path = learn-projects/axum-connect
	url = git@github.com:AThilenius/axum-connect.git
